/**Global Style**/
body {
    background-color: #FCF5E9;
    margin: 0;
    padding: 0;
}

.banner > img {
    border-width: 3px;
    border-style: double;
    max-height: 100%;
    max-width: 100%;
}

header {
    text-align: center;
    font-size: 28px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: 100px;
    padding: 10px;
    font-size: 12px;
    background-color: #41362E;
    color: antiquewhite;
}

/**Fonts**/
h1, h2 {
    font-family: 'Alegreya';
}

h3, h4, h5, a {
    font-family: 'Fredoka';
}

h3 {
    font-size: 16pt;
    text-decoration: underline;
    text-decoration-color: brown;
    text-decoration-style: double;
}

h4 {
    font-size: 14pt;
    text-decoration: underline;
    text-decoration-color: brown;
}

h5 {
    font-size: 12pt;
}

p, blockquote {
    font-family: 'Belgrano';
}

blockquote {
    font-style: italic;
}

ul {
    font-family: 'Fredoka', sans-serif;
}

/**Banner**/
.banner {
    display: flex;
    justify-content: center;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/**Nav bar**/
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    font-size: 24px;
}

/**Links**/
a {
    color: maroon;
    text-decoration-style: dotted;
}

a:hover {
    font-style: italic;
}

a:visited {
    color: brown;
}

footer a,
footer a:visited {
    color: #f9e79f;
}

/**About Sections**/
.about {
    margin: 50px;
    padding: 30px;
    background: #F9E79F;
    border-style: double;
}

/**Chapter Index**/
.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
    padding-bottom: 50px;
    background-color: #41362E;
    color: antiquewhite;
    border-style: double;
}

.index h2 {
    color: antiquewhite;
    padding: 20px;
    text-decoration-style: dotted;
    font-size: 36px;
}

.index a {
    color: #f9e79f;
}

.index a:visited {
    color: antiquewhite;
}

.index > ul {
    font-size: 20px;
}

/**Body of the Text**/
.text {
    padding: 20px;
}

.text > h2, h3 {
    text-align: center;
}

.text > h2 {
    margin-top: 20px;
}

.text > p, blockquote {
    margin-left: 30px;
    margin-right: 30px;
    background: #FCF5E9;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

hr {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px dotted brown;
}

.top {
    padding: 30px;
}

/**Drawings**/
.drawings > img {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: auto;
    margin: 50px;
    border: double;
}

.drawings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}